<footer class="footer">
  <div class="content has-text-centered is-large">
    <a class="px-6" href="https://www.facebook.com/people/Joe-Zhang/100014610456565" target="_blank">
      <span class="icon has-text-info"><i class="fab fa-facebook fa-2x"></i></span>
    </a>
    <a class="px-6" href="https://www.instagram.com/zhangjoe99/" target="_blank">
      <span class="icon has-text-danger"><i class="fab fa-instagram fa-2x"></i></span>
    </a>
    <a class="px-6" href="https://www.linkedin.com/in/joe-zhang-7a6b441a3/" target="_blank">
      <span class="icon has-text-link"><i class="fab fa-linkedin-in fa-2x"></i></span>
    </a>
    <a class="px-6" href="https://github.com/zhangjoe99" target="_blank">
      <span class="icon has-text-dark"><i class="fab fa-github fa-2x"></i></span>
    </a>
  </div>
</footer>
