<header>
  <nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-seperator">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title is-1 is-family-code" style="color:MediumSpringGreen;">Joe Zhang</h1>
        </a>
      </div>

      <div class="navbar-brand">
        <div class="navbar-end">
          <a class="navbar-item" href="/about">
            About Me
          </a>

          <a class="navbar-item" href="/projects">
            Projects
          </a>

          <div class="navbar-item">
            <div class="buttons">
              <!--<a class="button is-primary" href="/assets/resume.pdf" target="_blank">-->
                <a class="button is-primary" href="https://drive.google.com/file/d/1M2kgQF1RS5zD7WRW-iCrtjl6oQP7-IjO/view?usp=sharing" target="_blank">
                <strong>Resume</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
